<form action="/" method="post" id="loginform">
	<table align="center">
		<th colspan="2">
			<h3 align="center">Login</h3>
		</th>
		<tr colspan="2">
			  <p class="validateTips">All form fields are required.</p>
		</tr>
		<tr>
			<td>
				<label for="flogin">Login</label>
			</td>
			<td>
				<input type="text" name="flogin" id="flogin" value="" maxlength="30">
			</td>
		</tr>
		<tr>
			<td>
				<label for="fpass">Password</label>
			</td>
			<td>
				<input type="password" id="fpass" name="fpass" value="">
			</td>
		</tr>
	</table>
</form>