<form action="/" method="post" id="registerform">
	<table align="center">
		<th colspan="2">
			<h3 align="center">Registration</h3>
		</th>
		<tr colspan="2">
			  <p class="validateTips">All form fields are required.</p>
		</tr>
		<tr>
			<td>
				<label for="femail">Email</label>
			</td>
			<td>
				<input type="text" value="" id="femail" name="femail" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="floginnew">Login</label>
			</td>
			<td>
			    <input type="text" id="floginnew" name="floginnew" value="" />
			</td>
		</tr>
	</table>
</form>